html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #2e353d;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.main-container {
    display: grid;
    /* Set the first column to 40% width, with a minimum width of 300px */
    grid-template-columns: minmax(300px, 40%) 2.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    max-width: calc(100% - 20px);
    height: calc(100% - 20px);
}

/* Image viewer container */
.image-viewer-container {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-viewer-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 80vh;
    margin: 0;
    padding: 0;
}

.metadata {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    padding: 20px;
    background-color: #3b414a;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    color: #FFF;
}

.metadata h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.metadata p {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 20px;
}

.thumbnail-wrapper {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    background-color: #3b414a;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  }
  
  .thumbnail-container {
    max-width: 1600px;
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(70, 210));
    grid-auto-rows: minmax(70px, 1fr);
    overflow-y: auto;
    grid-template-areas:"thumb";
    margin: 0;
    padding: 1px;
    grid-auto-flow: dense;
  }
  
  .thumbnail {
    grid-area: thumb;
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
    border: 1px solid transparent; /* add transparent border to all images */
    max-width: 60px;
  }
  

.thumbnail a {
    display: inline-block;
}

.thumbnail a.active-thumbnail {
    border-color: #ccc; /* change border color for active thumbnail */
    border-width: 2px; /* change border width for active thumbnail */
}

.thumbnail a img.active-thumbnail {
    border-color: #25b951; /* change border color for active thumbnail image */
    border-width: 3px; /* change border width for active thumbnail image */
    border-style: solid;
    box-shadow: 0 0 10px 5px rgba(37, 185, 81, 0.5);
    transform: scale(1.05);
}

.thumbnail-container.loading {
    visibility: hidden;
}

/* Hide default dropdown */
#style-selector {
    display: none;
}

/* Create custom dropdown */
.dropdown {
    display: inline-block;
    position: relative;
}

/* Style dropdown button */
.dropdown button {
    background-color: #2e353d;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3b414a;
    min-width: 100%;
    z-index: 1;
}

/* Style dropdown options */
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    display: block;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the form container */
#filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #3b414a;
    border-radius: 12px;
    max-width: 700px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Style the form-group container */
.form-group {
    flex-basis: 100%;
    margin-bottom: 20px;
}

/* Style the form labels */
label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #ffffff;
}

/* Style the form inputs and selects */
.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 12px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    background-color: #535f71;
    box-sizing: border-box;
    color: #FFF;
    font-weight: 500;
}

/* Set max-width and center the form */
form#filter-form {
    max-width: 800px;
    margin: 0 auto;
}

/* Style form group labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #ffffff;
}

/* Style form control select elements */
select.form-control {
    height: 44px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 10px 6px;
}

/* Style form control select elements on hover and focus */
select.form-control:hover,
select.form-control:focus {
    outline: none;
    border: none;
}

/* Style form control select elements when an option is selected */
select.form-control option:checked {
    background-color: #464646;
    color: #FFF;
}

/* Style the filter button */
button.btn.btn-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #FFF;
    background-color: #2e353d;;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 100px;
    padding: 0 16px;
}

/* Style metadata table */
.metadata-table {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    border-collapse: separate;
    border-spacing: 0;
    border: none;
}

/* Style table headers */
.metadata-table th {
    font-weight: bold;
    color: #fff;
    text-align: left;
    padding: 12px 16px;
    background-color: #3b414a;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Style table rows */
.metadata-table tr {
    border-bottom: 1px solid #E5E5E5;
}

/* Style table data cells */
.metadata-table td {
    padding: 12px 16px;
    color: #FFF;
    border: none;
    word-wrap: anywhere;
}

/* Set max-width and center the form */
form#tag-form {
    max-width: 800px;
    margin: 0 auto;
}

/* Style form control input elements */
input[type="text"],
input[type="submit"] {
    border: 1px solid #8390a5;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

/* Style form control input elements on hover and focus */
input[type="text"]:hover,
input[type="text"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    border: 1px solid #8ab9ff;
    color: #fff;
    outline: none;
}

/* Style form control input elements when valid */
input[type="text"]:valid {
    border: 1px solid #bcfdcd;
    color: #fff;
}

/* Style form control submit input element */
input[type="submit"] {
    background-color: #2e353d;;
    border-color: #3b414a;
    color: #FFFFFF;
    font-weight: 500;
    text-transform: uppercase;
}

/* Style form control submit input element on hover and focus */
input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #2e353d;
    border-color: #2e353d;
    color: #FFFFFF;
    outline: none;
}

/* Style option fields */
option {
    padding: 12px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    background-color: #3b414a;
    box-sizing: border-box;
    color: #fff;
    font-weight: 500;
}

/* Set uniform height for text input and option fields */
input[type="text"],
select.form-control {
    height: 44px;
}

/* Set uniform padding for text input and option fields */
input[type="text"],
select.form-control,
option {
    padding: 12px;
}

/* Set uniform border radius for text input and option fields */
input[type="text"],
select.form-control,
option {
    border-radius: 12px;
}

/* Set uniform margin bottom for form groups */
.form-group {
    margin-bottom: 24px;
}

.metadata-table #tags-list,
.metadata-table #category-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.metadata-table #tags-list li,
.metadata-table #category-list li {
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #888888;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}

.metadata-table #tags-list li::before,
.metadata-table #category-list li::before {
    content: '#';
    margin-right: 5px;
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none;
}

.favorite-toggle span {
    font-size: 24px;
    /* Adjust font size as needed */
    color: #fff;
    /* Adjust color as needed */
    vertical-align: middle;
    /* Align icon in the center */
}

.favorite-toggle {
    background-color: transparent;
    border: transparent;
}

.nav-button {
    background-color: transparent;
    border: none;
}

.nav-button .material-icons {
    color: #fff;
    /* set icon color to white */
    font-size: 40px;
    /* adjust icon size as needed */
    background-color: transparent;
    /* set background to transparent */
    padding: 0;
    /* remove padding to eliminate white space around icon */
    margin: 0;
    /* remove margin to eliminate white space around icon */
}


.filterform {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 10px;
    transition: top 0.3s ease-in-out;
    z-index: 999;
  }
  
  .filterform.open {
    top: 0;
  }
  
  .filterbtn {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
  }
  
  
  .hide {
    display: none;
  }

  .green-icon {
    color: #00bfa5; /* Change color to match the design */
  }
  
  .red-icon {
    color: #f44336; /* Change color to match the design */
  }
  